*{
    margin:0;
    padding: 0;
}


.inter-font {
  font-family: "Inter", sans-serif; 
  font-style: normal;
}

/*************** Shared Style ************ */
.container{
    width: 85%;
    max-width: 1140px;
    margin: 0 auto;
}

/*************** Header area ************ */

.header-area nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav{

}

.menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.menu a {
	text-decoration: none;
	font-size: 16px;
	color: #000000;
}

.btn{
    padding: 12px 16px;
    background-color: #469165;
    
    border-style: none;
    border-radius: 4px;
}

.btn a{
    text-decoration: none;
    color: white;
}


/*************** Hero Section ************ */

.hero-area{
   background: url("./assets/hero-bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   max-height: 675px;
}

.hero-section{
    text-align: center;
    padding-top: 115px;
    padding-bottom: 179px;
    color: white;
}


.hero-early-btn button {
    padding: 10px 16px 10px 34px;
  border-radius: 100px;
  color: #469165;
  font-size: 16px;
  background-color: white;
  border: none;
  margin-bottom: 16px;
}

.hero-info {
    max-width: 770px;
    margin: 0 auto;
}

.hero-info h1{
    font-weight: 700px;
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 16px;
}
.green-text{
    color: #30B868;
}

.hero-info p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.building-button{
    padding: 16px 46px 16px 16px;
    font-size: 16px;
    border-style: none;
    border-radius: 4px;
    color: white;
    background-color: #469165;
    margin-right: 16px;
}

.how-button {
    padding: 16px 16px 16px 46px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
}
}