*{
    margin:0;
    padding: 0;
}


.inter-font {
  font-family: "Inter", sans-serif; 
  font-style: normal;
}

/*************** Shared Style ************ */
.container{
    width: 85%;
    max-width: 1140px;
    margin: 0 auto;
}

/*************** Header area ************ */

.header-area nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav{

}

.menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.menu a {
	text-decoration: none;
	font-size: 16px;
	color: #000000;
}

.btn{
    padding: 12px 16px;
    background-color: #469165;
    text-decoration: none;
    color: white;
    border-style: none;
    border-radius: 4px;
}

.btna{
    
}