*{
    margin:0;
    padding: 0;
}


.inter-font {
  font-family: "Inter", sans-serif; 
  font-style: normal;
}

/*************** Shared Style ************ */
.container{
    width: 85%;
    max-width: 1140px;
    margin: 0 auto;
}

/*************** Header area ************ */

.header-area nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}



.menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.menu a {
	text-decoration: none;
	font-size: 16px;
	color: #000000;
}

.menu li a:hover{
    color: #469165;
}

.btn{
    padding: 12px 16px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 500;
    border-style: none;
    border-radius: 4px;
}

.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color: #007736;
}

/*************** Hero Section ************ */

.hero-area{
   background: url("./assets/hero-bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   max-height: 675px;
}

.hero-section{
    text-align: center;
    padding-top: 115px;
    padding-bottom: 179px;
    color: white;
}


.hero-early-btn > button {
	display: inline-flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	color: #469165;
	background: white;
	border-radius: 28px;
	border: 1px solid white;
	font-size: 16px;
	font-weight: 500;
}


.hero-info {
    max-width: 770px;
    margin: 0 auto;
}

.hero-info h1{
    font-weight: 700px;
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 16px;
}
.green-text{
    color: #30B868;
}

.hero-info p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.hero-button{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.hero-button button{
    display: flex;
    font-size: 16px;
    font-weight: 500;
}

.hero-button button:hover {
	background-color: #007736;
}
.building-button{
    padding: 18px 20px 18px 20px;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  color: white;
  background-color: #469165;
}

.building-button img{
    margin-left: 10px;
}

.hero1{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: white;
    background: #539165;
    border-radius: 4px;
    border: none;
}

.hero2 {
	display: inline-flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 16px;
	color: white;
	background: #539165;
	border-radius: 4px;
	background: transparent;
	border: 1px solid white;
}




/*************** Info Section ************ */


.info-card{
    text-align: center;
}

.info-title {
    margin-top: 70px;
}

.info-title h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.info-title p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
}

.info-card-section{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}


.card-info{
    max-width: 267px;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
   
}

.card-info img{
    padding: 70px 104px 16px;
}

.card-info h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card-info p{
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    padding: 0 10px 20px 10px;
}

/*************** about Section ************ */

.about-section{
    display: flex;
    gap: 60px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}

.about-text h2{
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
    font-weight: normal;
    text-transform:uppercase ;
}

.about-text h1{
    font-size: 47px;
    line-height: 58px;
    margin-bottom: 16px;
    color: #001931;
    text-transform: capitalize;
} 

.about-text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.checklist ul li img{
    margin-right: 4px;
}
.checklist ul li{
    list-style: none;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}

/*************** Call to action Section ************ */

.call-to-action-area{
    background-color: #F7F6F2;
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
}

.call-to-action-area h1{
    padding: 80px 0 16px 0px;
    font-size: 40px;
    color: #001931;
    font-weight: bold;
}

.call-to-action-title p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

.call-to-action-btn button{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: white;
    background: #539165;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
}

.call-to-action-btn button:hover{
    background-color: #007736;

}

.call-to-action-btn p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    padding-bottom: 80px;
}

/*************** Footer Section ************ */

.footer{
    margin-top: 120px;
    background-color: #001931;
    color: white;
    
    
}

.social-container{
    display: flex;
    justify-content: space-between;
    padding-top: 125px;
    padding-bottom: 80px;
    
}
.footer-social h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-social ul{
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 16px;
    justify-content: center;
}

.line{
    color: #393477;
    margin-bottom: 30px;
}

.copyright p{
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
    padding-bottom: 30px;
}



